/**/.cproject
/**/.project
/**/.settings
/**/Debug

automatizare_2/automatizare_2.ino.adafruit.bin
libraries/arduino_667763/
libraries/NewliquidCrystal

LsuAlarm
LsuWater
Irigatie_Marius
microcoap
LsuWiFi_2_Test
LsuGarden
LsuHeating

libraries/**/.cproject
libraries/**/.project
libraries/**/.settings

LsuEsp32WifiScanner
libraries/Bridge
libraries/LsuWiFiEsp32
libraries/SD

libraries/LsuNtpTime
libraries/LsuWiFi
libraries/LsuEthernet
libraries/LsuLogger
libraries/LsuMqtt
libraries/LsuScheduler
libraries/LsuOta

LsuOtaTest/update*
automatizare_2/update*

libraries/ESP8266Ping
libraries/Adafruit_BME280
libraries/Adafruit_BME280_Library
libraries/Adafruit_Circuit_Playground
libraries/Adafruit_DHT22
libraries/Adafruit_Sensor
libraries/Adafruit_SI1145
libraries/Adafruit_TSL2561
libraries/arduino_240503
libraries/ArduinoJson
libraries/Bosch_BME280
libraries/DallasTemperature
libraries/Firmata
libraries/LiquidCrystal
libraries/NewliquidCrystal
libraries/Nokia_SC
libraries/OneWire
libraries/pubsubclient
libraries/Robot_Control
libraries/SparkFun_BME280
libraries/SparkFun_SX1509
libraries/Temboo
libraries/Time
libraries/Timezone
libraries/WakaanaA
libraries/Robot_IR_Remote
libraries/Robot_Motor
libraries/UIPEthernet
libraries/arduino_230272
